@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: white;
  font-family: "Inter", sans-serif;
  background-color: black;
}

.container.main {
  display: flex;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

header {
  padding: 55px;
  font-style: italic;
  font-weight: bold;
}

.container.left {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.main-content {
  padding: 55px;
  display: flex;
  align-items: center;
}

.main-temp {
  font-size: 6rem;
  font-weight: bold;
  padding-right: 10px;
}

.city {
  font-size: 3rem;
}

.container.right {
  flex: 1;
  backdrop-filter: blur(30px);
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding-bottom: 0;
  height: auto;
}

#search {
  padding-top: 30px;
  line-height: 20px;
  width: 80%;
  text-align: center;
  margin-right: 30px;
  font-size: 20px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.555);
}

#search:focus {
  outline: none;
  color: white;
  padding-top: 20px;
  font-size: 30px;
}

#search::placeholder {
  color: rgba(255, 255, 255, 0.555);
}

#search:focus::placeholder {
  color: transparent;
}

#searchBtn {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.215);
  border: none;
  margin-top: -30px;
  margin-right: -30px;
}

#searchBtn i {
  font-size: 3rem;
}

table {
  width: 100%;
  text-align: left;
  padding: 30px;
  padding-top: 40px;
}

th {
  padding: 10px;
}

.tableHead {
  padding-bottom: 25px;
  font-weight: bold;
}

.detailName,
.detailValue {
  font-size: 0.9rem;
  font-weight: normal;
  font-weight: bold;
}

.detailName,
.units,
footer,
footer a {
  color: rgba(255, 255, 255, 0.692);
  text-decoration: none;
}

.detailValue {
  text-align: right;
}

footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}

.loader {
  background: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader p {
  margin: 10px;
  font-style: italic;
}

@media (max-width: 768px) {
  body {
    height: auto;
  }

  .container.main {
    flex-direction: column;
  }

  .main-content {
    flex-direction: column;
    text-align: center;
  }

  .main-temp {
    padding: 0;
    position: relative;
    left: 10px;
  }

  .container.right {
    backdrop-filter: blur(0px);
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #searchBtn {
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    border: none;
    text-align: end;
  }

  #search {
    border-bottom: 1px solid white;
    margin: auto;
  }

  #searchBtn i {
    font-size: 2rem;
    color: white;
  }
}
